* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 60%;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container h2 {
  text-align: center;
  color: #2D2A80;
  font-size: 1.5rem;
}

.form-result-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
}

.file-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.custom-file-icon {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  cursor: pointer;
  transition: background 0.3s ease;
  color:#4C4C4C;
}
#email, #password{
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-file-icon:hover {
  background: rgb(249, 249, 249,0.9);
    color: rgb(76, 76, 76,0.9);
}

#fileName {
  font-size: 0.9rem;
  color: #555;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button {
  width: 100%;
  padding: 0.7rem;
  background: #5D5BD0;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;

}

button:hover {
  background: rgba(93, 91, 208, 0.9);
}

#result {
  font-size: 0.9rem;
  color: #333;
}
@media (max-width: 768px) {
  .container {
    width: 50vh;
    height: 50vh;
    font-size: 10px;
  }
  button {
  font-size: 0.7rem;

}
}


